<div class="column is-one-quarter">
  <nav class="panel1">
    <p class="panel-heading">
      <a href="#" class="panel-block">Trend1</a>
      <a href="#" class="panel-block">Trend2</a>
      <a href="#" class="panel-block">Trend3</a>
      <a href="#" class="panel-block">Trend4</a>
      <a href="#" class="panel-block">Trend5</a>
    </p>
  </nav>
</div>