<div class="column">
    <nav class="panel1">
        <p class="panel-heading">
            Who to follow
        </p>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Michelle Rosado</strong>
                        <small>@rosadito</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Michelle Rosado</strong>
                        <small>@rosadito</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>
</nav>