  <section class="section">
      <div class="container">
        <div class = "columns">
          <%= render 'trends' %>
          <%=render 'feed' %>
          <%= render 'who-to-follow' %>
        </div>
      </div>
  </section>

<%= link_to 'New Tweet', new_tweet_path %>

